<!-- Cria uma var que pega a quantidade de itens no array e subtrai um, isso pois a 
 função LEN retorna a quantidade de itens começando pelo 1 ao invés do 0 -->

{{ $genres := split (.Get "genres") "," }}
{{ $maxTags := sub (len ($genres)) 1 }}

<div id="album-info">
    <img src="{{ .Get "cover" }}" alt="{{- .Get "title" -}}" id="cover">
    <div id="information">
        <h2>{{ .Get "artist" }}</h2>
        <sub>Artista/Banda</sub>
        <hr>
        <div id="album-year">
            <h2>{{ .Get "title" }} {{ .Get "releaseDate" | dateFormat "(2006)" }}</h2>
        </div>
        <sub>Álbum/Ano</sub>
        <hr>
        <h2>{{ .Get "countryEmoji" }} {{ .Get "country" }}</h2>
        <sub>País</sub>
        <hr>
        {{ with $genres }}
            <h2>{{ range $index, $value := . }}
                    {{ . }}{{ if eq $index $maxTags }}{{ break }}{{ else }}, {{ end }}
                {{ end }}</h2>                
        {{ end }}
        <sub>Gêneros</sub>
    </div> 
</div>