<!-- Cria uma var que pega a quantidade de itens no array e subtrai um, isso pois a 
 função LEN retorna a quantidade de itens começando pelo 1 ao invés do 0 -->
{{ $maxTags := sub (.Page.Params.bookGenres | len) 1 }}

<div id="book-info">
    <img src="{{ .Get "cover" }}" alt="{{- .Get "title" -}}" id="book-cover">
    <div id="information">
        <h2>{{ .Get "title" }}</h2>
        <sub>Título</sub>
        <hr>
        <h2>{{ .Get "author" }}</h2>
        <sub>Autor(es/as)</sub>
        <hr>
        <h2>{{ .Get "publishDate" | dateFormat "2006" }}</h2>
        <sub>Ano</sub>
        <hr>
        <h2>{{ .Get "publisher" }}</h2>
        <sub>Editora</sub>
        <hr>
        {{ with .Page.Params.bookGenres }}
            <h2>{{ range $index, $value := . }}
                    {{ . }}{{ if eq $index $maxTags }}{{ break }}{{ else }}, {{ end }}
                {{ end }}</h2>
        {{ end }}
        <sub>Gêneros</sub>
    </div> 
</div>