{{ define "main" }}
  {{ $path := substr .Path 0 12 }}

  {{ if eq $path "/posts/music" }}

    {{ .Content }}

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{ else if eq $path "/posts/books" }}
  
    {{ .Content }}

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{ else if eq $path "/posts/movie" }}
  
    {{ .Content }}

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{ else }}
    <div class="post-info">
      <h1>{{ .Title }}</h1>

      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>
    
    {{ .Content }}
    
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ end }}

{{ end }}
